.formStepDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formStep {
  width: 100px;
  height: 15px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.formStep.formStepActive {
  background-color: #5341d3;
}
