.formStepDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.formStep {
  width: 100px;
  height: 15px;
  /* background-color: #e6e6e6; */
  border-radius: 15px;
  background: linear-gradient(to left, #e6e6e6 50%, #5341d3 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
}

.formStep.formStepActive {
  background-position: left;
}
